# travisci configuration

dist: xenial

language: python

python:
  - "3.6"
  - "3.7"
  - "3.8"

install:
  - pip install -r requirements.txt
  - pip install torch==1.6.0+cpu torchvision==0.7.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
  - pip install .

# command to run tests
script: pytest -s --cov=alaska 

after_success:
  - codecov
  - bash <(curl -s https://codecov.io/bash)
